<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>car form</title>
</head>
<body>
    <form action="#"
          th:action="@{/carform}"
          th:object="${carshow}"
          method="post">



    Car Name: <input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span><br />

     Car Type: <input type="text" th:field="*{type}" />
    <span th:if="${#fields.hasErrors('type')}"
          th:errors="*{type}"></span><br/>

    Car Description: <textarea rows="7" th:field="*{description}"/>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br/>

    <input type="submit" value="Submit Button"/>

    </form>




</body>
</html>